
# App Server .env variables
PORT=****                #number
APP_SERVER_URL=**********       #string

# 3rd party API endpoint
API_ENDPOINT='https://www.ebi.ac.uk/ols/api/ontologies/efo/terms'

# DB connection string
MONGO_URI=**************

# JWT Token Secret generated with openssl rand -base64 32
TOKEN_SECRET=*************************

# Nodemailer Configuration Variables
EMAIL_USER='email@domain.com'
EMAIL_PASSWORD=***********
EMAIL_ALIAS='Node.js API Verification System'